<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all visits</title>
</head>
<body>
<table th:remove="all-but-first" th:each="visit: ${DoctorList}">
    <tr>
        <td><a th:text="|${visit.patientFullName}|"></a></td>
        <td><a th:text="|${visit.illness}|"></a></td>
        <td><a href="#" th:href="@{|/all-doctors-visits/delete/${visit.id}|}">Usuń</a></td>
        <td><a href="#" th:href="@{|/all-doctors-visits/visit-details/${visit.id}|}">Szczegóły</a></td>
    </tr>
    <tr>
        <td><a>first name last name</a></td>
        <td><a>illness</a></td>
        <td><a href="#">Usuń</a></td>
        <td><a href="#">Szczegóły</a></td>
    </tr>
</table>
</body>
</html>