<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Pogoda')"></head>
<body>
<header th:replace="fragments::header"></header>

<main>
<h2>Weather</h2>
<table th:object="${weather}">
  <tr>
    <td><a>Kraj: </a></td>
    <td><a th:text="|*{country}|"></a></td>
  </tr>
  <tr>
    <td><a>Miasto: </a></td>
    <td><a th:text="|*{city}|"></a></td>
  </tr>
  <tr>
    <td><a>Data i godzina: </a></td>
    <td><a th:text="|*{locateDateTime}|"></a></td>
  </tr>
  <tr>
    <td><a>Temperatura: </a></td>
    <td><a th:text="|*{temperature}|"></a></td>
  </tr>
  <tr>
    <td><a>Prędkość wiatru: </a></td>
    <td><a th:text="|*{windSpeed} km/h|"></a></td>
  </tr>
  <tr>
    <td><a>Ciśnienie: </a></td>
    <td><a th:text="|*{pressure}mb|"></a></td>
  </tr>
  <tr>
    <td><a>Wilgotność: </a></td>
    <td><a th:text="|*{humidity}%|"></a></td>
  </tr>
  <tr>
    <td><a>Zachmurzenie: </a></td>
    <td><a th:text="|*{cloud}%|"></a></td>
  </tr>
  <tr>
    <td><img src="../static" th:src="*{icon}" /></td>
    <td><a th:text="|*{weatherText}|"></a></td>
  </tr>

</table>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>